body {  
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
  
}
h1 {
  text-align: center;
  background-color: pink;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}
.form-section,
.list-section {
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

form input,
form select,
form button
 {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: white;
}
th,
td {
  border: 1px solid #ccc;
  padding: 6px 8px;
  text-align: left;
  border: 3px solid black;
}
button.action {
  margin-right: 10px;
}
h2{
    background-color: lightblue ;
    border-radius: 5px;
    border: 2px solid black;
}
.scheduled {
  background-color: orange;
  font-weight: bold;
  text-align: center;
  
}
.completed {
  background-color: #37FF8B;
  font-weight: bold;
  text-align: center;
}
.cancelled {
  background-color: #ff0000;
  font-weight: bold;
  text-align: center;
}

td.scheduled,
td.completed,
td.cancelled {
  border-radius: 5px;
}

button{
  background-color: #0a7d2c;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
footer{
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: rgb(228, 227, 227);
  border-top: 2px solid black;
  font-weight: bold;
}
#message {
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 8px;
}
th {
  background-color: #e3e7eb;
}
